/* SubView.css */
.subview {
    color: #5B5F66;
    background-color: #ECEFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .dark .subview {
    color: white;
    background-color: black;
  }
  
  .subview img {
    margin-top: 50px;
    margin-bottom: 1rem; /* Adjust the spacing as needed */
  }
  
  .subview .title {
    font-size: 1.5rem; /* 2xl equivalent */
    margin: 2rem 0; /* my-8 equivalent */
  }
  
  .subview .subtitle {
    color: #5B5F66;
  }
  
  .subview.dark .subtitle {
    color: #9E9E9E;
  }
  