/* OneBox.css */
.onebox-container {
    height: 100vh; /* h-screen */
    width: 100vw; /* w-screen */
    padding-left: 3.5rem; /* pl-14 */
    background-color: white; /* bg-white */
  }
  
  /* Dark mode styles */
  .onebox-container.dark-mode {
    background-color: black; /* dark:bg-black */
  }
  